<%= raw flash[:notice] if flash[:notice] %>
<div class="categories_all">
   <span style="font-weight:bold;font-style: italic;">Themes</span>
   <ul>
        <% @theme_categories.each do |themecat| %>
         <div class="category_row">

         <li> <% themecat.each do |k,v| %>
            <p><%=k %></p>
               <% v.each do |theme| %>
           <%=  raw theme.to_html_small
               #raw theme_to_html(theme)
              #theme.inspect
              # theme.to_s
           %>
              <% end %>
           
           <% end %>
      </li></div>

      <% end %>
   </ul>
</div>

