html {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
    background-color:#5C7FE2;
	padding: 0px;
	margin:0px;
	font-size: 12px;
	color: #444;
	font-family: helvetica, arial, sans-serif;
}

#outer_container {
    background: url("/images/website_cutout5_top.png") no-repeat center top;
    position:relative;
    padding:0 0 0 0;
    margin:0px auto 0px auto;
    width:100%;
}

#inner_container {
    width:100%;
}

#content-block {
   width: 100%;
}

.content-container {
    background:#FFFFFF;
    overflow-x: hidden;
    margin: 0px auto 0px auto;
    width: 1020px;
}

#header-block {
  width: 100%;
  margin: 0 auto 0 auto;
}

#header-wrapper {
   border-top:grey solid 1px;
   border-bottom:grey solid 1px;
    background:#cccccc;
    color:white;
    width:1019px;
    margin-left:auto;
    margin-right:auto;

   
}

#header-text {
   font-family: "Hammersmith One";
   font-size: 12pt;
   margin-left:5px;
   margin-right:5px;
   color: #424242;
   
}

#banner {
  width:1020px;
  color:#black;
  margin:0 auto 0 auto;
  padding:120px 0px 0px 0px;
}

#banner .banner_text {
    text-align:center;
    margin: 0px auto 0px auto;
    width: 1020px;
    padding:0px 0px 0px -2px;
}

.banner_inset {
    width:1012px;
    min-height:170px;
    background: #FFFFFF url("/images/rm_banner14.png") top center no-repeat;
    margin:0px auto 0px auto;
}
.banner_inset span {
  font-weight:bold;
}

#menu_top_wrapper {
    width: 1020px;
    margin:auto;
}
#menu_top_text {

}

.banner_text {
    line-height: 2em;
    font-family: "Inconsolata";
    font-size: 68px;
    text-shadow:0px 0px 3px  #111111;
}

.content-text-left {
    float:left;
    padding:0px;
    margin:0;
    width:780px;
    }

.content-text-right {
    float:right;
    top:2px;
    margin:0;
    width:116px;
    padding: 0px 2px 0px 2px;
    }
#footer {
	clear: both;
	text-align: center;
	color: #666;
	padding: 20px;
	line-height: 180%;
}

#footer-container {
  min-height:120px;
  width:1020px;
  background:url("/images/website_cutout5_bottom.png") bottom center no-repeat;
  display: block;
  margin: 0 auto 0px auto;
  padding: 0;
}

#footer-text {
  width:96%;
  background:#FFFFFF;
  text-align: right;
  margin: 0 auto 0 auto;
  width: 1020px;
}

.newsfeed-title {
   color:blue;
   font-weight:bold;
}
.newsfeed-line {
   color: #aeaeae;
   
   padding: 2px 4px 2px 4px;
   margin: 2px 4px 2px 4px;
}

#newsfeed-area {
   padding: 6px 0px 6px 8px;
   margin: 6px 8px 6px 8px;
   display:block;
   width:100%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}



.pagination {
    padding: 2px 0px 2px 0px;
    text-align:center;
    width: 99.5%;
    float:left;
    /*background-color: #489EB1;*/
    border: 1px solid #7F7F7F;
    color: #4f3f5f;
    line-height: 1.5em;
    font-size: 1.2em;
    -webkit-border-radius: 2px;
}
.pagination .previous_page .disabled   {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    color: grey;
    background-color:#b7b7b7;
    border: black 1px;
    height: 1.3em;
    padding: 2px 6px 2px 6px;
}
.pagination  {
    width:99.7%;
    color:#44ffe;
    padding:2px 0px 2px 0px;
    maring:0px;
}
.pagination a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    color:#444444;
    background-color:#3DC33D;
    border: black 1px;
    height: 1.3em;
    padding: 2px 6px 2px 6px;
}

.pagination a:hover {

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    text-decoration: none;
    background-color:#47FF47;
    border: black 1px;
    height: 1.3em;
    padding: 2px 6px 2px 6px;
}


.previous_comments {
    background-color: #266C89;
    padding: 2px 4px 2px 4px;
    margin:10px 4px 10px 4px;
    color: white;
    font-size: 1.1em;
    width: 100%;
}
.previous_comments td {
    border:solid #266C89 5px;
    background-color:#32778f ;
    margin: 5px;
    padding: 10px;
    vertical-align:top;
}
.previous_comments td:hover {
    background-color:#39879f ;
}

.previous_comments tr {
    margin: 9px 0px 9px 0px;
    padding: 10px;
}
#new_comment {
    
}

#recaptcha {float:right;clear:none;vertical-align: top;    }


.clear {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    }

input {
	font-size: 12px;
}

img {
	display: block;
	border: none;
}


h1 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
	margin-right: 5px;
}

h1 a {
	color: #444;
}

h2 {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
	font-size: 18px;
	color: #000;
	font-weight: normal;
	border-bottom: 1px solid #DDD;
}

h3,.section {
	display: block;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
	font-size: 14px;
	color: #666;
	font-weight: normal;
	background-color: #EEE;
	padding: 5px;
	text-shadow: 1px 1px 1px white;
}

.section {
	margin-bottom: 2px;
}

.section:hover {
	background-color: #d0dde8;
	color: black;
}

a {
	text-decoration: none;
	color: #5f88a2;
}

.setting {
	float: left;
	color: #666;
	width: 296px;
	font-size: 12px;
	padding-top: 5px;
}

.value input {
	border: 1px solid #BBB;
	background-color: white;
	padding: 3px;
	margin: 0px;
	font-family: Monaco, "Courier New", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", arial;
	font-size: 11px;
	height: 16px;
}

.value .colorpicker {
	float: left;
	height: 16px;
	width: 16px;
	border: 1px solid #999;
	padding: 3px;
	margin: 0px;
	margin-right: 2px;
}

.value .format-bold,.value .format-bold-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	font-weight: bold;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-italic,.value .format-italic-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	font-style: italic;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-strikethrough,.value .format-strikethrough-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	text-decoration: line-through;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-underline,.value .format-underline-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	text-decoration: underline;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-bold-active,.value .format-italic-active,.value .format-strikethrough-active,.value .format-underline-active
	{
	background-color: #666;
	border: 1px solid #444;
	text-shadow: 1px 1px 1px black;
	color: white;
}

.checkbox {
	display: block;
	float: left;
	margin-right: 5px;
	border: 1px solid #DDD;
	height: 15px;
	width: 15px;
	background-color: #FFF;
}

.checkbox .inner {
	display: block;
	margin: 3px 0px 0px 3px;
	width: 9px;
	height: 9px;
	background-color: #b0cce3;
}


.setting-entry {
	margin-bottom: 2px;
}

a.button,a.button-create,a.button-plugin {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	color: #42580d;
	text-align: center;
   height:26px;
   width:90px;
   padding-top: 6px;
   padding-left:3px;
   margin-top:4px;
   margin-bottom:4px;
   margin-left:auto;

   margin-right:0;
   position: relative;
/*   background-color: #c8e08f;
  */ background: #3b6885  no-repeat right;
   color: #FFF;
   font-weight: bold;
   font-size: 16px;
   text-shadow: 1px 1px 0px #0e3147;
   vertical-align:middle;
}

a.button:hover,a.button-create:hover,a.button-plugin:hover {
	text-shadow: 1px 1px 0px #c8e08f;
	background-color: #a0c93d;
	color: #253304;
	text-decoration: none;
   background-color: #072335;
   color: #FFF;
   text-shadow: 1px 1px 0px #000;
   text-decoration: underline;
}


a.button-plugin img {
	position: absolute;
	top: -12px;
	left: -24px;
}

.teaser {
	margin-bottom: 20px;
	background-color: #EEE;
	padding-right: 20px;
	padding-left: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.listing {
	margin-bottom: 20px;
	background-color: #EEE;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}

.listing-navigation {
	background-color: #bbd0de;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	padding: 10px;
}

.listing-navigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.listing-navigation ul li {
	float: left;
}

.listing-navigation ul li.filter {
	float: right;
}

.listing-navigation ul li a {
	display: block;
	padding: 8px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #8ab1c9;
	margin-right: 10px;
	color: #1b4763;
	font-size: 13px;
}

.listing-navigation ul li input {
	background: none;
	margin: 0;
	border: none;
    display: block;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ccdbe5;
    margin-right: 10px;
    color: #1b4763;
    font-size: 13px;
    width: 130px;
}

.listing-navigation ul li.filter a {
	margin-right: 0px;
	margin-left: 10px;
	background-color: #cddce5;
}

.listing-navigation ul li a.active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b4763),
		to(#35627e) );
	background-image: -moz-linear-gradient(100% 0% 270deg, #1b4763, #35627e);
	color: #FFF;
}

.sidebar {
	font-family: "DejaVu Sans Mono", monospace;
	font-size: 12px;
	float: left;
	width: 30px;
	padding: 10px 0px;
}


.lineNumber {
	height: 15px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 1px;
	text-align: right;
}

/*
 *    THEME DISPLAY STYLES:
 *
*/

/* this is the "buttons area" */
.editor_medium_buttons {
   height:60px;
   width:400px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   width:100%;
   padding-left:0px;
   padding-right:0px;
   margin:auto;
}

.editor_medium_buttons tr td{
   padding-top: 3px;
   padding-left:0px;
   padding-right:0px;
   margin-right:0;

}

.categories_all {
   /*the large square block that the theme rows all sit in.*/
   display:block;
   background:#FFFFFF;
   padding: 4px;
   width:100%;
}


.category_row li {
   list-style: none;
}
.category_row {
   height: 196px;
   /*min-width: 100px;
   max-width: 770px;*/
   width:100%;
   /*this is for 1 row of the the themes, containing 5 theme previews */
   background: #aabbcc;
   padding: 2px 4px 2px 4px;
   margin: 2px 4px 2px 4px;
   display:block;
}

/* this is a single line within a theme display*/
.line {
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 1px;
   overflow-x:hidden;
   overflow-y:hidden;
}

.category_row .editor_box:hover {
   background: #aaaaaa;
   color:#ebebeb;
}

.editor_box {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   background: #808080 ;
   margin:2px 3px;
   padding:3px;
   float:left;
   max-width: 180px;
   max-height: 170px;
   overflow-x:hidden;
   overflow-y:hidden;
   color:#bbbbbb;
}

.category_row .editor_title:hover {
   color:inherit;
}
.editor_title {
  display:inline;  
  font-size: 1.1em;
  font-weight:bold;
  text-shadow: 1px 1px 1px #333333 ;
  font-family: serif;
  color:inherit;
  margin:2px 4px 2px 4px;
  overflow-x:hidden;
  overflow-y:hidden;
}

.editor {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   display:block;
   font-family: "DejaVu Sans Mono", "Monaco", "monospace", "courier", "Inconsolata", "Consolas";
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	width: 180px;
   height:95%;
   margin-top:2px;
   overflow-x:hidden;
   overflow-y:hidden;
}

.medium_theme_block {
   padding:4px;
   margin:4px;
   width:100%;
   background: #aabbcc;
}
.small {
   height:150px;
}
.editor_medium {
   float:none;
   width: 400px;
   margin-left:auto;
   margin-right:auto;
   font-size:1.1em;
   line-height:1.3em;
}

.editor_box_medium {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   background: #808080 ;
   margin:2px 3px;
   padding:3px;
   float:none;
   max-width: 400px;
   max-height: 555px;
   overflow-x:hidden;
   overflow-y:hidden;
   color:#bbbbbb;

}

.theme_type_announce {
   display: block;
	background-color: #87AFBD;
	border: 1px solid #7F7F7F;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 24px;
	padding: 0px;
	font-weight: bold;
	margin: 0px;
}

.theme_type_announce table tr td a {

}
.theme_type_announce table tr td a:hover {

}

.theme_type_announce_small {
    display: block;
	background-color: #6DBDF3;
	border: 1px solid #7F7F7F;
	color: #4f3f5f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 17px;
	padding: 2px 6px;
	font-weight: bold;
	margin-right: 2px;
}


.theme_row {
    float:left;
    width:900px;
    display:block;
}

.theme .info {
	padding: 6px 8px;
	font-size: 13px;
}
.theme .info table {
    margin: 2px 2px 2px 2px;
    width: 100%;
    padding: 4px 0px 0px 0px;
}
.theme .info table tr td {

    margin: 2px 2px 2px 2px;
    width: 100%;
    padding: 4px 0px 0px 0px;
}



/*  THEME BOXES END */


.form label {
	display: block;
	float: left;
	width: 120px;
	font-size: 14px;
	padding: 7px 8px;
	clear: both;
	margin-bottom: 5px;
	padding-left: 0px;
}

.form input,.form select {
	float: left;
	width: 400px;
	background: none;
	border: 1px solid #BBB;
	font-size: 14px;
	padding: 5px 8px;
	margin-bottom: 5px;
}

.form input.submit {
	background-color: #72497c;
	color: #FFF;
	font-weight: bold;
	border: none;
	float: none;
	width: auto;
	padding: 8px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px #4e175c;
}

.info,p.info {
	color: #333;
	line-height: 150%;
	font-size: 14px;
}

.error {
	background-color: #a7362d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font-size: 14px;
	padding: 15px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 0px #631711;
}

table.data td {
	padding: 4px 6px;
	font-size: 12px;
	border-bottom: 1px solid #EEE;
}

table.data td.icon {
	width: 16px;
	padding-top: 2px;
	padding-bottom: 0px;
}

.toolbar {
	margin-bottom: 20px;
}

.toolbar input.submit {
	display: block;
	float: left;
	background-color: #72497c;
	color: #FFF;
	font-weight: bold;
	border: none;
	float: none;
	width: auto;
	padding: 8px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px #4e175c;
}

.toolbar input.text {
	float: left;
	background-color: white;
	border: 1px solid #DDD;
	background: none;
	padding: 8px 8px;
	font-size: 12px;
	margin: 0px;
	margin-right: 10px;
	width: 120px;
	font-weight: bold;
}

.toolbar select.text {
	float: left;
	background-color: white;
	border: 1px solid #DDD;
	background: none;
	padding: 7px 8px;
	font-size: 12px;
	margin: 0px;
	margin-right: 10px;
	width: 120px;
	font-weight: bold;
}

.toolbar input.submit:hover {
	background-color: #72497c;
	text-decoration: underline;
}

.colorbox {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 1px;
}

.teaser-1 {
	float: left;
	padding: 20px 0px;
}

.teaser-2 {
	float: right;
	text-align: right;
	line-height: 150%;
	text-shadow: 1px 1px 0px #FFF;
	padding-top: 20px;
}

.teaser-3 {
	float: right;
	width: 60px;
	padding-top: 13px;
}

.teaser-or {
	float: left;
	font-size: 14px;
	font-style: italic;
	color: #FFF;
	padding-right: 20px;
	padding-top: 15px;
}

.teaserbox {
	position: relative;
	background-color: #1c4864;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b4763),
		to(#35627e) );
	background-image: -moz-linear-gradient(100% 0% 270deg, #1b4763, #35627e);
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	height: 117px;
}

.teaserbox .info {
	font-size: 11px;
	margin-top: 14px;
	color: #a8c5d7;
	text-align: right;
	padding-right: 4px;
}

.teaserbox .info a {
	color: #cfdee8;
}

.teaserbox .left {
    float: left;
    color: #90a8b8;
    font-size: 16px;
    margin: 0px;
    width: 340px;
    line-height: 150%;
    padding: 10px;
}

.teaserbox .right {
	position: absolute;
	width: 220px;
	top: 22px;
	left: 380px;
}

.teaserbox .ad {
    float: right;
}

.selector {
	background-color: #EEE;
	border-bottom: 1px solid #DDD;
	padding: 10px;
}

.selector ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.selector ul li {
	float: left;
}

.selector ul li a {
	display: block;
	padding: 5px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #DDD;
	margin-right: 5px;
	color: #666;
	text-shadow: 1px 1px 0px #FFF;
	font-size: 11px;
}

.selector ul li a.active {
	background-color: #CCC;
	color: #000;
}

.selector ul li a.disabled {
	color: #BBB;
	text-shadow: none;
}

.selector ul li a.disabled:hover {
	text-decoration: none;
}

.selector ul li a.nolink {
	background-color: #EEE;
	padding-right: 0px;
}
.download_button a:hover {
    background-color:#DEE8C6;
    color:#654D11;
}
.download_button a{
	color: #3b4919;
	border: 1px solid #92a959;
	background-color: #CEE792;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 10px;
	padding: 1px 2px;
	font-weight: bold;
	margin-right: 2px;
}
.upvote_button {
    width:100%;
}
.upvote_button a {
    text-decoration:none;
	color: #3b4919;
	border: 1px solid #92a959;
	background-color: #b8ef6f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 10px;
	padding: 3px ;
	font-weight: bold;
	margin: 1px;
}

.upvote_button a:hover {
    background-color:#6495ed;
    color:purple;
}

.downvote_button a:hover {
    background-color:#6495ed;
    color:purple;
}

.downvote_button a {
    line-height:1.6em;
    text-decoration:none;
	color: #544919;
	border: 1px solid #92a959;
	background-color: #ff402f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 10px;
	padding: 3px;
	font-weight: bold;
	margin: 1px;
}


.carbonad {
	-moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
	background-color: #103750 !important;
	border: none !important;
}

.carbonad-text {
	font-family: arial, helvetica, sans-serif !important;
	color: #cbdde8 !important;
	line-height: 130% !important;
	width: 140px !important;
	margin-left: 5px !important;
}

.carbonad-tag {
	font-family: arial, helvetica, sans-serif !important;
    color: #90afc3 !important;
    margin-left: 5px !important;
}

.carbonad-tag a {
	font-family: arial, helvetica, sans-serif !important;
	color: #90afc3 !important;
}

.carbonad-tag a:hover {
	text-decoration: underline !important;
}

































/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../../app/stylesheets/partials/_page.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 65, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 67, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */

/* line 78, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 80, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 81, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 83, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 86, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 89, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 91, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 92, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 94, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */

/* line 102, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1297716767');
}
/* line 4, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/*
Primary Color:

F391B5	B67F94	9E2F58	F9ADC9	F9C2D6
Secondary Color A:

8BB6DF	7890A7	2D6091	ACCEEF	BED7EF
Secondary Color B:
FFEF98	BFB785	A69431	FFF3B2	FFF6C6
*/
/* line 34, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col {
  color: white;
/*  background-color: #414547; */
}
/* line 75, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body.two-col p + p {
  text-indent: 2em;
  margin-top: -1.5em;
  /* Don't want this in forms. */
}
/* line 85, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
form body.two-col p + p {
  text-indent: 0;
}
/* line 77, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body.two-col p.incr,
body.two-col .incr p {
  font-size: 0.833em;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body.two-col .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 13, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body.two-col .dquo {
  margin-left: -0.5em;
}
/* line 14, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body.two-col .alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}



/* line 54, ../../../app/stylesheets/partials/_two_col.scss */

/* line 138, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {

}
/* line 64, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col {
  /*display: inline;*/
 /* float: left;*/
    margin: 0px;
    padding: 0px;
    width:100%;
   /* background-color: #8E9CA1; */
    /*background: url("/images/website_cutout3_waist.png") center repeat-y;*/

}



/* line 138, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
   overflow-x: hidden;
}
