html {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
    background-color:#5C7FE2;
	padding: 0px;
	margin:0px;
	font-size: 12px;
	color: #444;
	font-family: helvetica, arial, sans-serif;
}

#outer_container {
    background: url("/images/website_cutout5_top.png") no-repeat center top;
    position:relative;
    padding:0 0 0 0;
    margin:0px auto 0px auto;
    width:100%;
}

#inner_container {
    width:100%;
}

#content-block {
   width: 100%;
}

.content-container {
    background:#FFFFFF;
    overflow-x: hidden;
    margin: 0px auto 0px auto;
    width: 1020px;
}

#header-block {
  width: 100%;
  margin: 0 auto 0 auto;
}

#header-wrapper {
   border-top:grey solid 1px;
   border-bottom:grey solid 1px;
    background:#cccccc;
    color:white;
    width:1019px;
    margin-left:auto;
    margin-right:auto;

   
}

#header-text {
   font-family: "Hammersmith One";
   font-size: 12pt;
   margin-left:5px;
   margin-right:5px;
   color: #424242;
   
}

#banner {
  width:1020px;
  color:#black;
  margin:0 auto 0 auto;
  padding:120px 0px 0px 0px;
}

#banner .banner_text {
    text-align:center;
    margin: 0px auto 0px auto;
    width: 1020px;
    padding:0px 0px 0px -2px;
}

.banner_inset {
    width:1012px;
    min-height:170px;
    background: #FFFFFF url("/images/rm_banner14.png") top center no-repeat;
    margin:0px auto 0px auto;
}
.banner_inset span {
  font-weight:bold;
}

#menu_top_wrapper {
    width: 1020px;
    margin:auto;
}
#menu_top_text {

}

.banner_text {
    line-height: 2em;
    font-family: "Inconsolata";
    font-size: 68px;
    text-shadow:0px 0px 3px  #111111;
}

#about {
   text-align:right;
}
.content-text-left {
  float:left;
  padding:0px;
  margin:0;
  width:780px;
  }



.content-text-right img {
   border: 1px solid grey;
   position:relative;
   margin-left:auto;
   margin-right:auto;
}

.content-text-right .items ul li {
   list-style-position:inside;
   list-style-type:circle;
}
.content-text-right .items em {
   font-style:italic;
   font-weight:bold;
   font-size:0.9em
}
.content-text-right .items {
   font-size:1.1em;
   margin: 2px;
}

.content-text-right {
    float:left;
    margin:2px 4px 2px 20px ;
    background:#fff5ee;
   width:210px;
   display:inline;
    padding: 0px 2px 0px 2px;
    }
#footer {
	clear: both;
	text-align: center;
	color: #666;
	padding: 20px;
	line-height: 180%;
}

#footer-container {
  min-height:120px;
  width:1020px;
  background:url("/images/website_cutout5_bottom.png") bottom center no-repeat;
  display: block;
  margin: 0 auto 0px auto;
  padding: 0;
}

#footer-text {
  width:96%;
  background:#FFFFFF;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 1020px;
}

.newsfeed-title {
   color:blue;
   font-weight:bold;
}
.newsfeed-line {
   color: #aeaeae;
   
   padding: 2px 4px 2px 4px;
   margin: 2px 4px 2px 4px;
}

#newsfeed-area {
   padding: 6px 0px 6px 8px;
   margin: 6px 8px 6px 8px;
   display:block;
   width:100%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


#newsfeed-area .pagination em {
   font-weight:bold;

}
#newsfeed-area .pagination {
   color:#565756;
   border:none;
   background:inherit;
   text-align:center;
}
#newsfeed-area .pagination .previous_page .disabled {
   background:inherit;
   
   color:red;
   font-size:0.8em;
}
#newsfeed-area .pagination a {
   background:inherit;
   font-size: 0.9em;
   color:#565756;
}
#newsfeed-area .pagination a:hover {
   text-decoration:underline;
   color: #454545;
   font-size: 0.9em;
}


.medium_theme_block .pagination em {
   font-weight:bold;
   background-color:white;
}
.medium_theme_block .pagination {


    padding: 2px 0px 2px 0px;
    text-align:right;
    width: 99.5%;
    float:left;
    color: #4f3f5f;
    line-height: 1.5em;
    font-size: 1.2em;
}
.medium_theme_block .pagination .previous_page .disabled   {
    color: grey;
    height: 1.3em;
    padding: 2px 6px 2px 6px;
}
.medium_theme_block .pagination a {
    color:#444444;
    height: 1.3em;
    padding: 2px 6px 2px 6px;
}

.medium_theme_block .pagination a:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    text-decoration: none;
    height: 1.3em;
    padding: 2px 6px 2px 6px;
}

.theme_comment_box {
   width:325px;
   float:left ;
   padding: 4px 4px 4px 8px;
   margin:2px 4px 10px 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   background-color:#C8E08F;
}
.previous_comments {
    color: white;
    font-size: 1.1em;
    margin:4px 0px 4px 0px;
    width: 98%;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
}
.previous_comments .title {
   padding-left: 5px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   background-color:#E1FCA1 ;
   color:#9e9e9e;
   display:block;
   margin-bottom:5px;
}
.previous_comments tr {
   background-color:#E1FCA1 ;
   color:#7e7e7e;
}

.previous_comments .date{

   width: 65px;
}
.previous_comments .comment{
  width: 242px;
}
.previous_comments td {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   margin:4px 0px 4px 0px;
    vertical-align:top;
   padding-left: 8px;
}
.previous_comments tr:hover {
   background-color:#D1FFA3 ;
}

.previous_comments tr {
    margin: 9px 0px 9px 0px;
    padding: 10px;
}

.others_you_may_like .items{

}

.others_you_may_like{
   margin:2px 3px 2px 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   float:left;
   background:yellow;
   display:inline;
   width:195px;
   background: #bacbdc;

}

.new_comment_text_area {
   border: none;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   width:inherit;
   margin:4px 0px 4px 0px;

}
#new_comment {
    
}

#recaptcha {float:right;clear:none;vertical-align: top;    }


.clear {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    }

input {
	font-size: 12px;
}

img {
	display: block;
	border: none;
}


h1 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
	margin-right: 5px;
}

h1 a {
	color: #444;
}

h2 {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
	font-size: 18px;
	color: #000;
	font-weight: normal;
	border-bottom: 1px solid #DDD;
}

h3,.section {
	display: block;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
	font-size: 14px;
	color: #666;
	font-weight: normal;
	background-color: #EEE;
	padding: 5px;
	text-shadow: 1px 1px 1px white;
}

.section {
	margin-bottom: 2px;
}

.section:hover {
	background-color: #d0dde8;
	color: black;
}

a {
	text-decoration: none;
	color: #5f88a2;
}

.setting {
	float: left;
	color: #666;
	width: 296px;
	font-size: 12px;
	padding-top: 5px;
}

.value input {
	border: 1px solid #BBB;
	background-color: white;
	padding: 3px;
	margin: 0px;
	font-family: Monaco, "Courier New", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", arial;
	font-size: 11px;
	height: 16px;
}

.value .colorpicker {
	float: left;
	height: 16px;
	width: 16px;
	border: 1px solid #999;
	padding: 3px;
	margin: 0px;
	margin-right: 2px;
}

.value .format-bold,.value .format-bold-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	font-weight: bold;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-italic,.value .format-italic-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	font-style: italic;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-strikethrough,.value .format-strikethrough-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	text-decoration: line-through;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-underline,.value .format-underline-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	text-decoration: underline;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-bold-active,.value .format-italic-active,.value .format-strikethrough-active,.value .format-underline-active
	{
	background-color: #666;
	border: 1px solid #444;
	text-shadow: 1px 1px 1px black;
	color: white;
}

.checkbox {
	display: block;
	float: left;
	margin-right: 5px;
	border: 1px solid #DDD;
	height: 15px;
	width: 15px;
	background-color: #FFF;
}

.checkbox .inner {
	display: block;
	margin: 3px 0px 0px 3px;
	width: 9px;
	height: 9px;
	background-color: #b0cce3;
}


.setting-entry {
	margin-bottom: 2px;
}

a.button,a.button-create,a.button-plugin {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	color: #42580d;
	text-align: center;
   height:26px;
   width:90px;
   padding-top: 6px;
   padding-left:3px;
   margin-top:4px;
   margin-bottom:4px;
   margin-left:auto;

   margin-right:0;
   position: relative;
/*   background-color: #c8e08f;
  */ background: #3b6885  no-repeat right;
   color: #FFF;
   font-weight: bold;
   font-size: 16px;
   text-shadow: 1px 1px 0px #0e3147;
   vertical-align:middle;
}

a.button:hover,a.button-create:hover,a.button-plugin:hover {
	text-shadow: 1px 1px 0px #c8e08f;
	background-color: #a0c93d;
	color: #253304;
	text-decoration: none;
   background-color: #072335;
   color: #FFF;
   text-shadow: 1px 1px 0px #000;
   text-decoration: underline;
}


a.button-plugin img {
	position: absolute;
	top: -12px;
	left: -24px;
}

.teaser {
	margin-bottom: 20px;
	background-color: #EEE;
	padding-right: 20px;
	padding-left: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.listing {
	margin-bottom: 20px;
	background-color: #EEE;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}

.listing-navigation {
	background-color: #bbd0de;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	padding: 10px;
}

.listing-navigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.listing-navigation ul li {
	float: left;
}

.listing-navigation ul li.filter {
	float: right;
}

.listing-navigation ul li a {
	display: block;
	padding: 8px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #8ab1c9;
	margin-right: 10px;
	color: #1b4763;
	font-size: 13px;
}

.listing-navigation ul li input {
	background: none;
	margin: 0;
	border: none;
    display: block;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ccdbe5;
    margin-right: 10px;
    color: #1b4763;
    font-size: 13px;
    width: 130px;
}

.listing-navigation ul li.filter a {
	margin-right: 0px;
	margin-left: 10px;
	background-color: #cddce5;
}

.listing-navigation ul li a.active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b4763),
		to(#35627e) );
	background-image: -moz-linear-gradient(100% 0% 270deg, #1b4763, #35627e);
	color: #FFF;
}

.sidebar {
	font-family: "DejaVu Sans Mono", monospace;
	font-size: 12px;
	float: left;
	width: 30px;
	padding: 10px 0px;
}

.lineNumber {
	height: 15px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 1px;
	text-align: right;
}

/*
 *    THEME DISPLAY STYLES:
 *
*/

/* this is the "buttons area" */
.editor_medium_buttons {
   height:60px;
   width:400px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   width:100%;
   padding-left:0px;
   padding-right:0px;
   margin:auto;
}

.editor_medium_buttons tr td{
   padding-top: 3px;
   padding-left:0px;
   padding-right:0px;
   margin-right:0;
}

.categories_all {
   /*the large square block that the theme rows all sit in.*/
   display:block;
   background:#FFFFFF;
   padding: 4px;
   width:100%;
}

.category_row li {
   list-style: none;
}

.category_row {
   height: 196px;
   width:772px;
   /*this is for 1 row of the the themes, containing 4 theme previews */
   background: #aabbcc;
   padding: 2px 4px 2px 4px;
   margin: 2px 4px 2px 4px;
   display:block;
}

/* this is a single line within a theme display*/
.line {
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 1px;
   overflow-x:hidden;
   overflow-y:hidden;
}

.editor_box:hover {
   background: #aaaaaa;
   color:#ebebeb;
}

.editor_box {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   background: #808080 ;
   margin:2px 3px;
   padding:3px;
   float:left;
   max-width: 180px;
   max-height: 185px;
   overflow-x:hidden;
   overflow-y:hidden;
   color:#bbbbbb;
}

.editor_small_message {
}

.category_row .editor_title:hover {
   color:inherit;
}

.editor_title {
  
  font-size: 1.1em;
  font-weight:bold;
  text-shadow: 1px 1px 1px #333333 ;
  font-family: serif;
  color:inherit;
  margin:2px 4px 2px 4px;
  overflow-x:hidden;
  
}

.editor {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   display:block;
   font-family: "DejaVu Sans Mono", "Monaco", "monospace", "courier", "Inconsolata", "Consolas";
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	width: 180px;
   height:95%;
   margin-top:2px;
   overflow-x:hidden;
   overflow-y:hidden;
}

.medium_theme_block {
   padding:4px;
   margin:4px;
   width:128%;
   min-height:960px;
   max-height:1675px;
   background: #aabbcc;
   
}
.pagetype {
   width: 98%;
}
.small {
   height:150px;
}

#nav_menu form {
   padding:5px;
   margin-left:auto;
   margin-right:5px;
   position:relative;
   right:2px;
}
#nav_menu {
   background:#FFC800;
   font-size:1.4em;
   text-align:center;
   color:white;
   height:45px;
   padding:10px 5px 10px 5px;
   margin:3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
}

#nav_menu .button a {
   color:#EEEEEE;
   margin:8px;
   text-shadow: 1px 1px 2px black;
   font-size: 1.1em;
   font-weight:bold;
}
#nav_menu .button  {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   display:inline;
   margin:14px 18px 14px 18px;
   padding:4px 8px 4px 8px;
   background-color:#FFF684;
   border-right:1px solid grey;
   border-bottom:1px solid grey;
}

#nav_menu .button:hover {
   background-color:#C1FB86;
   color: #ccffcc;
}

.editor_box_medium {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   background: #808080 ;
   margin:2px 3px;
   padding:3px;
   float:left;
   max-width: 400px;
   min-height: 570px;
   overflow-x:hidden;
   overflow-y:hidden;
   color:#bbbbbb;
}

.editor_medium {

   width: 400px;
   margin-left:auto;
   margin-right:auto;
   font-size:1.1em;
   line-height:1.3em;
}


.theme_type_announce {
   display: block;
	background-color: #87AFBD;
	border: 1px solid #7F7F7F;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 24px;
	padding: 0px;
	font-weight: bold;
	margin: 0px;
}

.theme_type_announce table tr td a {

}
.theme_type_announce table tr td a:hover {

}

.theme_type_announce_small {
    display: block;
	background-color: #6DBDF3;
	border: 1px solid #7F7F7F;
	color: #4f3f5f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 17px;
	padding: 2px 6px;
	font-weight: bold;
	margin-right: 2px;
}


.theme_row {
    float:left;
    width:900px;
    display:block;
}

.theme .info {
	padding: 6px 8px;
	font-size: 13px;
}
.theme .info table {
    margin: 2px 2px 2px 2px;
    width: 100%;
    padding: 4px 0px 0px 0px;
}
.theme .info table tr td {

    margin: 2px 2px 2px 2px;
    width: 100%;
    padding: 4px 0px 0px 0px;
}



/*  THEME BOXES END */


.form label {
	display: block;
	float: left;
	width: 120px;
	font-size: 14px;
	padding: 7px 8px;
	clear: both;
	margin-bottom: 5px;
	padding-left: 0px;
}

.form input,.form select {
	float: left;
	width: 400px;
	background: none;
	border: 1px solid #BBB;
	font-size: 14px;
	padding: 5px 8px;
	margin-bottom: 5px;
}

.form input.submit {
	background-color: #72497c;
	color: #FFF;
	font-weight: bold;
	border: none;
	float: none;
	width: auto;
	padding: 8px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px #4e175c;
}

.info,p.info {
	color: #333;
	line-height: 150%;
	font-size: 14px;
}

.error {
	background-color: #a7362d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font-size: 14px;
	padding: 15px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 0px #631711;
}

table.data td {
	padding: 4px 6px;
	font-size: 12px;
	border-bottom: 1px solid #EEE;
}

table.data td.icon {
	width: 16px;
	padding-top: 2px;
	padding-bottom: 0px;
}

.toolbar {
	margin-bottom: 20px;
}

.toolbar input.submit {
	display: block;
	float: left;
	background-color: #72497c;
	color: #FFF;
	font-weight: bold;
	border: none;
	float: none;
	width: auto;
	padding: 8px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px #4e175c;
}

.toolbar input.text {
	float: left;
	background-color: white;
	border: 1px solid #DDD;
	background: none;
	padding: 8px 8px;
	font-size: 12px;
	margin: 0px;
	margin-right: 10px;
	width: 120px;
	font-weight: bold;
}

.toolbar select.text {
	float: left;
	background-color: white;
	border: 1px solid #DDD;
	background: none;
	padding: 7px 8px;
	font-size: 12px;
	margin: 0px;
	margin-right: 10px;
	width: 120px;
	font-weight: bold;
}

.toolbar input.submit:hover {
	background-color: #72497c;
	text-decoration: underline;
}

.colorbox {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 1px;
}

.teaser-1 {
	float: left;
	padding: 20px 0px;
}

.teaser-2 {
	float: right;
	text-align: right;
	line-height: 150%;
	text-shadow: 1px 1px 0px #FFF;
	padding-top: 20px;
}

.teaser-3 {
	float: right;
	width: 60px;
	padding-top: 13px;
}

.teaser-or {
	float: left;
	font-size: 14px;
	font-style: italic;
	color: #FFF;
	padding-right: 20px;
	padding-top: 15px;
}

.teaserbox {
	position: relative;
	background-color: #1c4864;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b4763),
		to(#35627e) );
	background-image: -moz-linear-gradient(100% 0% 270deg, #1b4763, #35627e);
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	height: 117px;
}

.teaserbox .info {
	font-size: 11px;
	margin-top: 14px;
	color: #a8c5d7;
	text-align: right;
	padding-right: 4px;
}

.teaserbox .info a {
	color: #cfdee8;
}

.teaserbox .left {
    float: left;
    color: #90a8b8;
    font-size: 16px;
    margin: 0px;
    width: 340px;
    line-height: 150%;
    padding: 10px;
}

.teaserbox .right {
	position: absolute;
	width: 220px;
	top: 22px;
	left: 380px;
}

.teaserbox .ad {
    float: right;
}

.selector {
	background-color: #EEE;
	border-bottom: 1px solid #DDD;
	padding: 10px;
}

.selector ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.selector ul li {
	float: left;
}

.selector ul li a {
	display: block;
	padding: 5px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #DDD;
	margin-right: 5px;
	color: #666;
	text-shadow: 1px 1px 0px #FFF;
	font-size: 11px;
}

.selector ul li a.active {
	background-color: #CCC;
	color: #000;
}

.selector ul li a.disabled {
	color: #BBB;
	text-shadow: none;
}

.selector ul li a.disabled:hover {
	text-decoration: none;
}

.selector ul li a.nolink {
	background-color: #EEE;
	padding-right: 0px;
}
.download_button a:hover {
    background-color:#DEE8C6;
    color:#654D11;
}
.download_button a{
	color: #3b4919;
	border: 1px solid #92a959;
	background-color: #CEE792;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 10px;
	padding: 1px 2px;
	font-weight: bold;
	margin-right: 2px;
}
.upvote_button {
    width:100%;
}
.upvote_button a {
    text-decoration:none;
	color: #3b4919;
	border: 1px solid #92a959;
	background-color: #b8ef6f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 10px;
	padding: 3px ;
	font-weight: bold;
	margin: 1px;
}

.upvote_button a:hover {
    background-color:#6495ed;
    color:purple;
}

.downvote_button a:hover {
    background-color:#6495ed;
    color:purple;
}

.downvote_button a {
    line-height:1.6em;
    text-decoration:none;
	color: #544919;
	border: 1px solid #92a959;
	background-color: #ff402f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 10px;
	padding: 3px;
	font-weight: bold;
	margin: 1px;
}


.carbonad {
	-moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
	background-color: #103750 !important;
	border: none !important;
}

.carbonad-text {
	font-family: arial, helvetica, sans-serif !important;
	color: #cbdde8 !important;
	line-height: 130% !important;
	width: 140px !important;
	margin-left: 5px !important;
}

.carbonad-tag {
	font-family: arial, helvetica, sans-serif !important;
    color: #90afc3 !important;
    margin-left: 5px !important;
}

.carbonad-tag a {
	font-family: arial, helvetica, sans-serif !important;
	color: #90afc3 !important;
}

.carbonad-tag a:hover {
	text-decoration: underline !important;
}



.devise_sign_in {
   position:relative;
   left: 100px;
   min-height: 600px;
}


























