
.clear {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    }
body {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #444;
	font-family: helvetica, arial, sans-serif;
	margin: 0px;
}

input {
	font-size: 12px;
}

img {
	display: block;
	border: none;
}

#header {
	margin-bottom: 20px;
	margin-top: 40px;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
	margin-right: 5px;
}

h1 a {
	color: #444;
}

h2 {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
	font-size: 18px;
	color: #000;
	font-weight: normal;
	border-bottom: 1px solid #DDD;
}

h3,.section {
	display: block;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
	font-size: 14px;
	color: #666;
	font-weight: normal;
	background-color: #EEE;
	padding: 5px;
	text-shadow: 1px 1px 1px white;
}

.section {
	margin-bottom: 2px;
}

.section:hover {
	background-color: #d0dde8;
	color: black;
}

a {
	text-decoration: none;
	color: #5f88a2;
}

a:hover {
	text-decoration: underline;
}

.setting {
	float: left;
	color: #666;
	width: 296px;
	font-size: 12px;
	padding-top: 5px;
}

.value input {
	border: 1px solid #BBB;
	background-color: white;
	padding: 3px;
	margin: 0px;
	font-family: Monaco, "Courier New", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", arial;
	font-size: 11px;
	height: 16px;
}

.value .colorpicker {
	float: left;
	height: 16px;
	width: 16px;
	border: 1px solid #999;
	padding: 3px;
	margin: 0px;
	margin-right: 2px;
}

.value .format-bold,.value .format-bold-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	font-weight: bold;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-italic,.value .format-italic-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	font-style: italic;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-strikethrough,.value .format-strikethrough-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	margin-right: 2px;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	text-decoration: line-through;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-underline,.value .format-underline-active {
	display: block;
	font-size: 14px;
	text-align: center;
	background-color: #EEE;
	color: #999;
	border: 1px solid #BBB;
	padding: 3px;
	margin: 0px;
	text-decoration: underline;
	float: left;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

.value .format-bold-active,.value .format-italic-active,.value .format-strikethrough-active,.value .format-underline-active
	{
	background-color: #666;
	border: 1px solid #444;
	text-shadow: 1px 1px 1px black;
	color: white;
}

.checkbox {
	display: block;
	float: left;
	margin-right: 5px;
	border: 1px solid #DDD;
	height: 15px;
	width: 15px;
	background-color: #FFF;
}

.checkbox .inner {
	display: block;
	margin: 3px 0px 0px 3px;
	width: 9px;
	height: 9px;
	background-color: #b0cce3;
}

#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.setting-entry {
	margin-bottom: 2px;
}

a.button,a.button-create,a.button-plugin {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	padding: 15px 17px;
	display: block;
	margin-bottom: 10px;
	background-color: #c8e08f;
	color: #42580d;
	text-shadow: none;
	text-align: center;
}

a.button:hover,a.button-create:hover,a.button-plugin:hover {
	text-shadow: 1px 1px 0px #c8e08f;
	background-color: #a0c93d;
	color: #253304;
	text-decoration: none;
}

a.button-create,a.button-plugin {
	background-color: #c8e08f;
	color: #42580d;
	float: left;
	margin: 0px;
	margin-right: 20px;
	position: relative;
}

a.button-plugin {
	background-color: #3b6885;
	margin-right: 0px;
	color: #FFF;
	font-weight: bold;
	padding: 13px 10px;
	font-size: 16px;
	text-shadow: 1px 1px 0px #0e3147;
}

a.button-plugin:hover {
	background-color: #072335;
	color: #FFF;
	text-shadow: 1px 1px 0px #000;
	text-decoration: underline;
}

a.button-plugin img {
	position: absolute;
	top: -12px;
	left: -24px;
}

.teaser {
	margin-bottom: 20px;
	background-color: #EEE;
	padding-right: 20px;
	padding-left: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.listing {
	margin-bottom: 20px;
	background-color: #EEE;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}

.listing-navigation {
	background-color: #bbd0de;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	padding: 10px;
}

.listing-navigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.listing-navigation ul li {
	float: left;
}

.listing-navigation ul li.filter {
	float: right;
}

.listing-navigation ul li a {
	display: block;
	padding: 8px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #8ab1c9;
	margin-right: 10px;
	color: #1b4763;
	font-size: 13px;
}

.listing-navigation ul li input {
	background: none;
	margin: 0;
	border: none;
    display: block;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ccdbe5;
    margin-right: 10px;
    color: #1b4763;
    font-size: 13px;
    width: 130px;
}

.listing-navigation ul li.filter a {
	margin-right: 0px;
	margin-left: 10px;
	background-color: #cddce5;
}

.listing-navigation ul li a.active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b4763),
		to(#35627e) );
	background-image: -moz-linear-gradient(100% 0% 270deg, #1b4763, #35627e);
	color: #FFF;
}

.editor {
/*	font-family: "DejaVu Sans Mono"; */
  font-family: "DejaVu Sans Mono", "Monaco", "monospace", "courier", "Inconsolata", "Consolas";
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 284px;
}

.sidebar {
	font-family: "DejaVu Sans Mono", monospace;
	font-size: 12px;
	float: left;
	width: 30px;
	padding: 10px 0px;
}

.line {
	height: 15px;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 1px;
}

.lineNumber {
	height: 15px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 1px;
	text-align: right;
}

.view {
	
}

.clear {
	clear: both;
}

.theme {
	float: left;
	width: 286px;
	margin: 1px 4px 5px 4px;
    padding: none;
}

.theme .preview {
	display: block;
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 0px 0px 0px 0px;
	border: 1px solid #DDD;
    margin:0;
}

.theme .preview-html {
    margin:none;
    padding:none;
    border: solid black 1px;
	cursor: pointer;
	width: 282px;
	height: 200px;
	overflow: hidden;
}

.theme .preview:hover {
	border: 1px solid #000;
}

.theme .info {
	padding: 6px 8px;
	font-size: 13px;
}

.theme .info a {
	color: black;
	text-decoration: underline;
}

.theme .info .downloads {
	color: #666;
	font-size: 11px;
}

#footer {
	clear: both;
	text-align: center;
	color: #666;
	padding: 20px;
	line-height: 180%;
}

.form label {
	display: block;
	float: left;
	width: 120px;
	font-size: 14px;
	padding: 7px 8px;
	clear: both;
	margin-bottom: 5px;
	padding-left: 0px;
}

.form input,.form select {
	float: left;
	width: 400px;
	background: none;
	border: 1px solid #BBB;
	font-size: 14px;
	padding: 5px 8px;
	margin-bottom: 5px;
}

.form input.submit {
	background-color: #72497c;
	color: #FFF;
	font-weight: bold;
	border: none;
	float: none;
	width: auto;
	padding: 8px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px #4e175c;
}

.info,p.info {
	color: #333;
	line-height: 150%;
	font-size: 14px;
}

.error {
	background-color: #a7362d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font-size: 14px;
	padding: 15px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 0px #631711;
}

table.data td {
	padding: 4px 6px;
	font-size: 12px;
	border-bottom: 1px solid #EEE;
}

table.data td.icon {
	width: 16px;
	padding-top: 2px;
	padding-bottom: 0px;
}

.toolbar {
	margin-bottom: 20px;
}

.toolbar input.submit {
	display: block;
	float: left;
	background-color: #72497c;
	color: #FFF;
	font-weight: bold;
	border: none;
	float: none;
	width: auto;
	padding: 8px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px #4e175c;
}

.toolbar input.text {
	float: left;
	background-color: white;
	border: 1px solid #DDD;
	background: none;
	padding: 8px 8px;
	font-size: 12px;
	margin: 0px;
	margin-right: 10px;
	width: 120px;
	font-weight: bold;
}

.toolbar select.text {
	float: left;
	background-color: white;
	border: 1px solid #DDD;
	background: none;
	padding: 7px 8px;
	font-size: 12px;
	margin: 0px;
	margin-right: 10px;
	width: 120px;
	font-weight: bold;
}

.toolbar input.submit:hover {
	background-color: #72497c;
	text-decoration: underline;
}

.colorbox {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 1px;
}

.teaser-1 {
	float: left;
	padding: 20px 0px;
}

.teaser-2 {
	float: right;
	text-align: right;
	line-height: 150%;
	text-shadow: 1px 1px 0px #FFF;
	padding-top: 20px;
}

.teaser-3 {
	float: right;
	width: 60px;
	padding-top: 13px;
}

.teaser-or {
	float: left;
	font-size: 14px;
	font-style: italic;
	color: #FFF;
	padding-right: 20px;
	padding-top: 15px;
}

.teaserbox {
	position: relative;
	background-color: #1c4864;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b4763),
		to(#35627e) );
	background-image: -moz-linear-gradient(100% 0% 270deg, #1b4763, #35627e);
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	height: 117px;
}

.teaserbox .info {
	font-size: 11px;
	margin-top: 14px;
	color: #a8c5d7;
	text-align: right;
	padding-right: 4px;
}

.teaserbox .info a {
	color: #cfdee8;
}

.teaserbox .left {
    float: left;
    color: #90a8b8;
    font-size: 16px;
    margin: 0px;
    width: 340px;
    line-height: 150%;
    padding: 10px;
}

.teaserbox .right {
	position: absolute;
	width: 220px;
	top: 22px;
	left: 380px;
}

.teaserbox .ad {
    float: right;
}

.selector {
	background-color: #EEE;
	border-bottom: 1px solid #DDD;
	padding: 10px;
}

.selector ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.selector ul li {
	float: left;
}

.selector ul li a {
	display: block;
	padding: 5px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #DDD;
	margin-right: 5px;
	color: #666;
	text-shadow: 1px 1px 0px #FFF;
	font-size: 11px;
}

.selector ul li a.active {
	background-color: #CCC;
	color: #000;
}

.selector ul li a.disabled {
	color: #BBB;
	text-shadow: none;
}

.selector ul li a.disabled:hover {
	text-decoration: none;
}

.selector ul li a.nolink {
	background-color: #EEE;
	padding-right: 0px;
}

.toppick {
	color: #3b4919;
	border: 1px solid #92a959;
	background-color: #c8e08f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-border-radius: 2px;
	font-size: 10px;
	padding: 3px 5px;
	font-weight: bold;
	margin-right: 2px;
}

.carbonad {
	-moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
	background-color: #103750 !important;
	border: none !important;
}

.carbonad-text {
	font-family: arial, helvetica, sans-serif !important;
	color: #cbdde8 !important;
	line-height: 130% !important;
	width: 140px !important;
	margin-left: 5px !important;
}

.carbonad-tag {
	font-family: arial, helvetica, sans-serif !important;
    color: #90afc3 !important;
    margin-left: 5px !important;
}

.carbonad-tag a {
	font-family: arial, helvetica, sans-serif !important;
	color: #90afc3 !important;
}

.carbonad-tag a:hover {
	text-decoration: underline !important;
}
