<p> index.html.erb </p>

  <style type="text/css">
body { margin: 0px; padding: 0px; }
#theme-1 .view { font-family: monospace; font-family: "DejaVu Sans Mono", monospace; font-size: 12px;background-color: #1E1E1E; }
#theme-1 .lineNumber { color: #D0D0D0; }
#theme-1 .sidebar { border-right: 1px solid #D0D0D0; }
#theme-1 .line { height: 15px; padding-left: 5px; padding-right: 10px; padding-top: 1px; }
#theme-1 .lineNumber { height: 15px; padding-left: 10px; padding-right: 5px; padding-top: 1px; text-align: right; }
#theme-1 .java .default { color: #D8D8D8; }
#theme-1 .java .linecomment { color: #C7DD0C; }
#theme-1 .java .comment { color: #C7DD0C; }
#theme-1 .java .task { color: #CCDF32; }
#theme-1 .java .sourcehoverbg { color: #000000; }
#theme-1 .java .number { color: #7FB347; }
#theme-1 .java .string { color: #FFC600; }
#theme-1 .java .bracket { color: #D8D8D8; }
#theme-1 .java .operator { color: #D8D8D8; }
#theme-1 .java .return { color: #FFFFFF; }
#theme-1 .java .keyword { color: #FFFFFF; }
#theme-1 .java .class { color: #D25252; }
#theme-1 .java .interface { color: #D197D9; }
#theme-1 .java .enum { color: #7FB347; }
#theme-1 .java .method { color: #FFFFFF; }
#theme-1 .java .method { color: #FFFFFF; }
#theme-1 .java .staticmethod { color: #BED6FF; }
#theme-1 .java .annotation { color: #FFFFFF; }
#theme-1 .java .javadoc { color: #CCDF32; }
#theme-1 .java .javadoclink { color: #D9E577; }
#theme-1 .java .javadockeyword { color: #D9E577; }
#theme-1 .java .javadoctag { color: #D9E577; }
#theme-1 .java .localvariable { color: #79ABFF; }
#theme-1 .java .inheritedmethod { color: #BED6FF; }
#theme-1 .java .abstractmethod { color: #BED6FF; }
#theme-1 .java .localvariabledeclaration { color: #BED6FF; }
#theme-1 .java .typeargument { color: #BFA4A4; }
#theme-1 .java .typeparameter { color: #BFA4A4; }
#theme-1 .java .parametervariable { color: #79ABFF; }
#theme-1 .java .field { color: #BED6FF; }
#theme-1 .java .staticfield { color: #EFC090; }
#theme-1 .java .staticfinalfield { color: #EFC090; }
#theme-1 .java .deprecated { color: #D25252; text-decoration: line-through; }
#theme-1 .java .pf_coloring_comment { color: #C7DD0C; }
#theme-1 .java .pf_coloring_key { color: #D8D8D8; }
#theme-1 .java .pf_coloring_assignment { color: #D8D8D8; }
#theme-1 .java .pf_coloring_value { color: #FFC600; }
#theme-1 .java .pf_coloring_argument { color: #FFFFFF; }
</style>
<!-- BEGIN PREVIEW -->
<div id="theme-1" style="margin: 0px;">
<div class="view">
<div class="editor java" style="padding: 10px 7px;">
<div class="default">
<div class="line"><span class="keyword">public class</span> <span class="class">Demo</span> {</div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">private static final</span> <span class="class">String</span> <span class="staticfinalfield">CONSTANT</span> <span class="operator">=</span> <span class="string">"String"</span>;</div>

<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">private</span> <span class="class">Object</span> <span class="field">o</span>;</div>
<div class="line"></div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;<span class="javadoc">/**</span></div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="javadoc">* Creates a new demo.</span></div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="javadoc">* <span class="javadoctag">@param</span> o The object to demonstrate.</span></div>

<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="javadoc">*/</span></div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">public</span> Demo(<span class="class">Object</span> <span class="parametervariable">o</span>) {</span></div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">this</span>.<span class="field">o</span> = <span class="parametervariable">o</span>;</div>

<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="class">String</span> <span class="localvariabledeclaration">s</span> <span class="operator">=</span> <span class="staticfinalfield">CONSTANT</span>;</div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">int</span> <span class="localvariabledeclaration">i</span> <span class="operator">=</span> <span class="number">1</span>;</div>

<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;}</div>
<div class="line"></div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">public static void</span> <span class="methoddeclaration">main</span>(<span class="class">String</span>[] <span class="parametervariable">args</span>) {</div>
<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="class">Demo</span> <span class="localvariabledeclaration">demo</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="method">Demo</span>();</div>

<div class="line">&nbsp;&nbsp;&nbsp;&nbsp;}</span></div>
<div class="line">}</div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
<!-- END PREVIEW -->

<%= @dir_list.to_s %>
