    Information:<br/>
      The .xml files hosted here are randomly generated syntax highlighting "theme" files for <a href="http://www.jetbrains.com/ruby/">JetBrain's RubyMine Editor, versions >= 3.0.0</a>
<hr />

    David Heitzman, 2011.<hr/>Comments, questions, etc are welcome:
      dheitzman<br />@aptifuge.com


    